/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #160A09;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 74, 74, 0.05);
    font-size: 20px;
    padding: 1rem 2rem;
    position: absolute;
    top: 45px;
    left: 200px;
    right: 150;
    width: 86%;
    height: 75px;
    border-radius: 20px;

}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    /* Límite de altura visible */
    object-fit: fill;
    /* Escala sin deformar */
    display: inline-block;
    cursor: pointer;
    transition: filter 0.3s ease;
}


.logo:hover {
    filter: brightness(0) invert(1);
    /* Cambia a blanco */
}



.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.2s ease, color 0.3s ease;
}

.nav-links a:hover {
    cursor: pointer;
    transform: scale(1.2);
    /* Zoom */
    color: red;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem; /* antes: 2rem 4rem */
    height: calc(100vh - 75px);
    background-color: #160A09;
    color: white;
}


.hero-left h1 {
    font-size: 52px;
    margin-bottom: 1rem;
}

.social-icons img {
    height: 32.33px;
    width: 81.14;
    margin-right: 0.5rem;
}

.tech-icons img {
    height: 39.5px;
    width: 48;
    margin-right: 0.5rem;
}

.social-icons {
    cursor: pointer;

}

.tech-icons {
    margin-bottom: 1rem;
}

.hero-left {
    align-items: flex-start;
}
.logo-oj {
    height: 416px;
    width: 205px;
    /* Ajusta según tu necesidad */
    object-fit: contain;
    filter: drop-shadow(0 0 50px rgba(255, 0, 0, 0.6));
}

.hero-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-right {
    max-width: 40%;
}

.hero-right h2 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero-right p {
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
}
